In [ ]:
!git clone https://github.com/AnalyticsKnight/yemoonsaBigdata/

# 단일 표본 T - 검정 실습 - Trees

##  표본의 평균이 모평균과 일치하는지 단일 표본 t검정을 통해 답하고자 한다. 가설은 아래와 같다

H0 : -X = 75

H1 : -X != 75

1. 표본 평균 -X를 구하시오.(반올림하여 소숫점 둘째 자리까지 계산)

2. 위의 가설을 검정하기 위한 검정통계량을 구하시오.(반올림하여 소숫점 둘째 자리까지 계산)

3. 위의 통계량에 대한 p-값을 구하고(반올림하여 소숫점 넷째 자리까지 계산), 유의수준 0.05에서 가설검정의 결과를 채택/기각 중 하나로 선택하시오

In [6]:
import pandas as pd
X_test = pd.read_csv('yemoonsaBigdata/datasets/supplement/trees.csv')

In [ ]:
X_test.head()

In [ ]:
# 1번 문제
res = round(X_test['Height'].mean(), 2)
print(res)

In [ ]:
# 2번 문제
from scipy.stats import stats
t_value, p_value = stats.ttest_1samp(X_test['Height'], 75)
print(round(t_value, 2))

In [ ]:
t_value, p_value = stats.ttest_1samp(X_test['Height'], 75)
print(round(p_value,4))
if round(p_value, 4) < 0.05:
    print('기각')
else:
    print('채택')

# 독립표본 T - 검정 실습 - Toothgrowth

## 오렍지 주스를 투여받은 기니피그의 치아 길이 평균이 아스코르브산을 투여받은 기니피그의 피아 길이 평균와 일치하는지 독립표본 t-검정을 통해 답하고자 한다. 가설을 아래와 같다

H0 : -Xoj = -Xvc

H1 : -Xoj != -Xvc

1. 평균표본 -Xoj, -Xvc를 구하시오(반올림하여 소숫점 둘째 자리까지 계산)

2. 위의 가설을 검정하기 위한 검정 통계량을 구하시오(반올림하여 소숫점 둘째 자리까지 계산)

3. 위의 통계량에 대한 P-값을 구하고(반올림하여 소숫점 넷째 자리까지 계산), 유의수준 0.05에서 가설검정의 결과를 채택.기각 중 하나로 선택

In [5]:
import pandas as pd
X_test = pd.read_csv('yemoonsaBigdata/datasets/supplement/toothgrowth.csv')
X_test.head()

    len supp  dose
0   4.2   VC   0.5
1  11.5   VC   0.5
2   7.3   VC   0.5
3   5.8   VC   0.5
4   6.4   VC   0.5

In [ ]:
# 1번
df_oj = X_test[X_test['supp'] == 'OJ']
df_vc = X_test[X_test['supp'] == 'VC']

oj = round(df_oj['len'].mean(), 2)
vc = round(df_vc['len'].mean(), 2)

print(oj, vc)

In [ ]:
# 2번
from scipy.stats import stats
t_value, p_value = stats.ttest_ind(df_vc['len'], df_oj['len'], equal_var = True)
print(round(t_value, 2))

In [ ]:
# 3번
t_value, p_value = stats.ttest_ind(df_vc['len'], df_oj['len'], equal_var = True)
print(round(p_value, 4))

if round(p_value, 4) < 0.05:
    print('기각')
else:
    print('채택')

# 쌍체표본 T - 검정 실습 - Imsectsprays

## 문제 : 해당 스프레이가 구제 효과가 있는지(즉, 스프레이를 뿌린 뒤 곤충의 수가 감소했는지) 쌍체 표본 t-검정을 통해 답하고자 한다. 가설을 다음과 같다

-ud : (살충제를 뿌린 후의 곤충 수 - 살충제를 뿌리기 전의 곤충 수)의 평균

H0 : -ud >= 0

H1 : -ud < 0

1. -ud의 표본 평균을 구하시오(반올림하여 소숫점 둘재 자리까지 계산)

2. 위의 가설을 검정하기 위한 검정통계량을 구하시오(반올림하여 소숫점 둘째 자리까지 계산)

3. 위의 통계량에 대한 p-값 구하고(반올림하여 소숫점 넷째 자리까지 계산), 유의수준을 0.05에서 가설 검정의 결과를 채택/기각 중 하나로 선택하시오

In [4]:
import pandas as pd
X_test = pd.read_csv('yemoonsaBigdata/datasets/supplement/insectsprays.csv')
X_test.head()

   before_spr  after_spr
0          10          0
1           7          1
2          20          7
3          14          2
4          14          3

In [ ]:
# 1번
res = round((X_test['after_spr'] - X_test['before_spr']).mean(), 2)
print(res)

In [ ]:
# 2번
from scipy.stats import stats

t_value, p_value = stats.ttest_rel(X_test['before_spr'], X_test['after_spr'], alternative = 'greater')
print(round(t_value, 2))

In [ ]:
# 3번
t_value, p_value = stats.ttest_rel(X_test['before_spr'], X_test['after_spr'], alternative = 'greater')
print(round(p_value, 4))

if round(p_value, 4) < 0.05:
    print('기각')
else:
    print('채택')

# 일원분산분석(One-way ANOVA)실습 - iris

## 붓꽃의 종에 따라 꽃받침의 너비 차이 나는지 일원분산분석을 통해 답하고자 한다. 가설을 아래와 같다

H0 : -X1 = -X2 = -X3

H1: ~H0

1. versicolor 종의 평군 꽃받침 너비를 구하시오(반올림하여 소숫점 둘째 자리까지 계산)

2. 위의 가설을 검정하기 위한 검정통계량을 구하시오(반올림하여 소숫점 둘째 자리까지 계산)

3. 위의 통계랭에 대한 p-값을 구하고(반올림하여 소숫점 넷째자리까지 계산), 유의수준 0.05에서 가설검정의 결과를 채택.기각 중 하나로 선택

In [3]:
import pandas as pd
t_test = pd.read_csv('yemoonsaBigdata/datasets/supplement/iris.csv')
t_test.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [ ]:
# 1번
res = t_test[t_test['species'] == 'versicolor']['sepal_width'].mean()
print(round(res, 2))

In [ ]:
# 2번
from scipy.stats import stats
X1 = t_test[t_test['species'] == 'setosa']['sepal_width']
X2 = t_test[t_test['species'] == 'versicolor']['sepal_width']
X3 = t_test[t_test['species'] == 'virginica']['sepal_width']

t_value, p_value = stats.f_oneway(X1, X2, X3)
print(round(t_value, 2))

In [ ]:
# 3번
t_value, p_value = stats.f_oneway(X1, X2, X3)
print(round(p_value, 4))

if round(p_value, 4) < 0.05:
    print('기각')
else:
    print('채택')

# 카이제곱검정(적합도)

##  삼성 : 60%, 애플 30%, 기타 10%라 하자 이를 이용하여 A회사의 직원들이 사용하는 스마트폰 제조사 분포가 국내 스마트폰 제조사 점유율 분포와 동일한지 카이제곱검정을 통해 답하고자 한다. 가설은 다음과 같다

H0 : A회사 직원들이 사용하는 스마트폰 제조사 분포는 국내 스마트폰 제조사 점유율 분포를 따른다

H1 : A회사 직원들이 사용하는 스마트폰 제조사 분포는 국내 스마트폰 제조사 점유율 분포를 따르지 않는다

1. 삼성 제조사 스마트폰을 작원 수에서 애플 제조사 스마트폰 사용 직원 수를 뺀 값을 정수로 출력

2. 문제에서 제시된 국내 스마트폰 제조사 점유율을 이용하여 기대 빈도를 계산하고, 위의 가설을 검정하기 위한 검정통계량을 구하시오(반올림하요 소숫점 둘째 자리까지 계산)

3. 위의 통곌량에 대한 p-값을 구하고(반올림하여 소숫점 넷째 자리까지 계산), 유의수준 0.05에서 가설검정의 결과를 채택/기각 중 하나로 선택

In [2]:
import pandas as pd
x_test = pd.read_csv('yemoonsaBigdata/datasets/supplement/cellphone.csv')
x_test.head()

   id 제조사
0   1  삼성
1   2  애플
2   3  삼성
3   4  애플
4   5  애플

In [ ]:
# 1
res = len(x_test[x_test['제조사'] == '삼성']) - len(x_test[x_test['제조사'] == '애플'])
print(int(res))

In [ ]:
# 2
# 기대빈도
total = len(x_test)
expected = [int(total * 0.1), #기타
            int(total * 0.6), # 삼성
            int(total * 0.3)] # 애플
print(expected)

# 검정통계량
from scipy.stats import stats
count_df = x_test.groupby('제조사').count()
observed = count_df['id'].values
t_value, p_value = stats.chisquare(observed, f_exp = expected)
print(round(t_value, 2))

In [ ]:
# 3번
t_value, p_value = stats.chisquare(observed, f_exp = expected)
print(round(p_value, 4))

if round(p_value, 4) < 0.05:
    print('기각')
else:
    print('채택')

# 카이제곱검정(독립성 검정)

##  단과대학별로 수강 과목 차에 차이가 있는지 카이제곱검정을 통해 답하고자 한다. 가설은 아래와 같다

H0 : 단과대학과 수강 과목 수는 관련이 없다

H1 : 단과대학과 수강 과목 수는 관련이 있다

1. 주어진 데이터로 단과대학과 수강 과목 수로 분할표를 만들었을 때, 수강 과목 수가 '6개 이상'인 학생 수가 가장 많은 단과대학을 출력

2. 위의 가설을 검정하기 위한 검정통계량을 구하시오(반올림하여 소숫점 둘째 자리까지 계산)

3. 위의 통계량에 대한 p-값을 구하고(반올림하여 소숫점 넷째 자리까지 계산), 유의수준 0.05에서 가설 검정의 결과를 채택/기각 중 하나로 선택

In [1]:
import pandas as pd
t_test = pd.read_csv('yemoonsaBigdata/datasets/supplement/student.csv')
t_test.head()

   ID  단과대학 수강 과목 수
0   1  경영대학   4개 이하
1   2  경영대학   4개 이하
2   3  경영대학   4개 이하
3   4  경영대학   4개 이하
4   5  경영대학   4개 이하

In [ ]:
# 1
table = pd.crosstab(t_test['단과대학'], t_test['수강 과목 수'])
res = table[table['6개 이상'] == table['6개 이상'].max()].index[0]
print(res)

In [ ]:
# 2
from scipy.stats import stats

X1 = table.loc['경영대학', :]
X2 = table.loc['자연대학', :]
X3 = table.loc['공과대학', :]

t_value, p_value = stats.chi2_contingency([X1, X2, X3])
print(round(t_value, 2))

In [ ]:
# 3번
t_value, p_value = stats.chi2_contingency([X1, X2, X3])
print(round(p_value, 4))

if round(p_value, 4) < 0.05:
    print('기각')
else:
    print('채택')