In [ ]:
!git clone https://github.com/AnalyticsKnight/yemoonsaBigdata/

Cloning into 'yemoonsaBigdata'...
remote: Enumerating objects: 637, done.
remote: Counting objects: 100% (274/274), done.
remote: Compressing objects: 100% (165/165), done.
remote: Total 637 (delta 136), reused 184 (delta 109), pack-reused 363
Receiving objects: 100% (637/637), 10.76 MiB | 19.47 MiB/s, done.
Resolving deltas: 100% (321/321), done.

# 작업형 제 1유형

## 주어진 trash bag 데이터 세트는 지역별 종량제 봉투 가격을 나타낸다. 가격 컬럼은 각 행의 조건을 만족하는 해당 용량의 종량제 봉투가 존재하면 가격을 값으로, 존재하지 않으면 0을 값으로 갖는다. 이때 용도가 '음식물쓰래기'이고 사용 대상이 '가정용'인 2l 봉투 가격의 평균을 소수점을 버린 후 정수로 출력하시오

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('yemoonsaBigdata/datasets/Part3/501_trash_bag.csv', encoding = 'euc-kr')
df.head(3)

In [ ]:
print(df.columns)

In [ ]:
res_df = df[(df['용도'] == '음식물쓰레기') & (df['사용대상'] == '가정용')]
res_df = res_df[res_df['2L가격']!=0]
res = res_df['2L가격'].mean()
print(int(res))

## BMI 지수는 몸무게를 키(m)의 제곱으로 나누어 구하며, BMI 값에 따른 비만도 분류는 다음과 같다

18.5 미만 : 저체중

18.5 이상 23미만 : 정상

23 이상 25 미만 : 과체중

25 이상 30미만 : 경도비만

30 이상 : 중등도비만

이때 주어진 bmi 데이터 세트에서 비만도가 정상에 속하는 인원 수와 과체중에 속하는 인원 수의 차이를 정수로 출력하시오

In [ ]:
import pandas as pd
df = pd.read_csv('yemoonsaBigdata/datasets/Part3/502_bmi.csv')
df.head(2)

In [ ]:
def label(x):
    if x < 18.5:
        return '저체중'
    elif 18.5 <= x < 23:
        return '정상'
    elif 23 <= x < 25:
        return '과체중'
    elif 25 <= x < 30:
        return '경도비만'
    elif 30 <= x:
        return '중등도비만'

In [ ]:
df['bmi'] = df['Weight'] / ((df['Height']/100) ** 2)
df['class'] = df['bmi'].apply(label)
res_gb = df['class'].value_counts()
res = res_gb['정상'] - res_gb['과체중']
print(res)

## 주어진 students 데이터 세트는 각 학교의 학년 별 총 전입학생, 총 전출학생, 전체 학생 수를 나타낸다. 순 전입학생 수는 총 전입 학생 수에서 총 전출학생 수를 빼서 구할 수 있다. 순 전입학생이 가장 많은 학교의 전체 학생 수를 구하시오.

In [ ]:
import pandas as pd
df = pd.read_csv('yemoonsaBigdata/datasets/Part3/503_students.csv', encoding = 'euc-kr')
print(df.head(2))

In [ ]:
df['순 전입 학생 수'] = df['총 전입학생'] - df['총 전출학생']
res_gb = df.groupby('학교')['순 전입 학생 수'].sum().sort_values(ascending = False)
res = df[df['학교'] == res_gb.index[0]]['전체 학생 수'].sum()
print(res)

# 작업형 제 2유형

## 다음은 Used car 데이터 세트이다. 주어진 훈련 데이터 세트를 활용하여 중고차의 판매 가격을 예측하고 해당 예측 결과를 csv 파일로 제출하시오. 예측한 예측값의 rmse 평가 지표 값을 이용

id : 중고차 ID 번호

model : 차량 모델명

year : 차량 등록 연도

transmission : 변속기 종류

mileage : 주행거리

fuelType : 엔진 연료 종류

tax : 도로세

mpg : 갤런당 마일, 연비

engineSize : 엔진 크기

price : 가격(파운드)

In [103]:
import pandas as pd

X_test = pd.read_csv('yemoonsaBigdata/datasets/Part3/504_x_test.csv')
X_train = pd.read_csv('yemoonsaBigdata/datasets/Part3/504_x_train.csv')
y_train = pd.read_csv('yemoonsaBigdata/datasets/Part3/504_y_train.csv')

In [104]:
# drop(id), null(X), 이상치(X), 명목형
#drop
X_test = X_test.drop('id', axis = 1)
X_train = X_train.drop('id', axis = 1)
y_train = y_train.drop('id', axis = 1)

In [105]:
col_num = ['year', 'mileage', 'tax', 'mpg', 'engineSize']
col_cat = ['model', 'transmission', 'fuelType']
col_y = ['price']

In [94]:
train = pd.concat([X_train, X_test], axis = 0)

In [66]:
train

     model  year transmission  mileage fuelType  tax   mpg  engineSize
0       A1  2019    Automatic     3500   Petrol  145  40.9         2.0
1      RS4  2020    Semi-Auto     2500   Petrol  145  28.8         2.9
2       A8  2019    Semi-Auto      500   Diesel  145  40.4         3.0
3       Q5  2019    Semi-Auto     5089   Diesel  150  38.2         2.0
4       A5  2020    Semi-Auto     4951   Diesel  145  51.4         2.0
...    ...   ...          ...      ...      ...  ...   ...         ...
3195    A1  2018       Manual    15000   Petrol  150  54.3         1.4
3196    A1  2016       Manual    29793   Diesel    0  80.7         1.6
3197    A6  2017       Manual    27554   Diesel  145  61.4         2.0
3198    A3  2019    Semi-Auto     5711   Petrol  145  41.5         1.5
3199    A3  2017       Manual     9676   Petrol  145  53.3         1.5

[10668 rows x 8 columns]

In [85]:
train[col_cat].nunique()

model           26
transmission     3
fuelType         3
dtype: int64

In [95]:
# 명목형
from sklearn.preprocessing import OneHotEncoder

col_ohe = ['transmission', 'fuelType']

ohe = OneHotEncoder()
ohe.fit(train[col_ohe])

X_train_ohe = ohe.transform(X_train[col_ohe])
X_test_ohe = ohe.transform(X_test[col_ohe])

X_train_fin = pd.DataFrame(X_train_ohe.todense(), columns = ohe.get_feature_names_out())
X_test_fin = pd.DataFrame(X_test_ohe.todense(), columns = ohe.get_feature_names_out())

In [96]:
X_train_res = pd.concat([X_train[col_num], X_train_fin], axis = 1)
X_test_res = pd.concat([X_test[col_num], X_test_fin], axis = 1)

In [97]:
from sklearn.model_selection import train_test_split

X_tr, X_val, y_tr, y_val = train_test_split(X_train_res, y_train, test_size = 0.3)

In [98]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
scaler.fit(X_tr[col_num])

X_tr[col_num] = scaler.transform(X_tr[col_num])
X_val[col_num] = scaler.transform(X_val[col_num])
X_test_res[col_num] = scaler.transform(X_test_res[col_num])

In [99]:
from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor()
model.fit(X_tr, y_tr)

y_val_pred = model.predict(X_val)

<ipython-input-99-df8bf4c4e061>:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model.fit(X_tr, y_tr)

In [100]:
from sklearn.metrics import r2_score
y_val_pred = model.predict(X_val)
r2_score(y_val, y_val_pred)

0.9400656956293642

In [101]:
# 평가
from sklearn.metrics import mean_squared_error

rmse = mean_squared_error(y_val, y_val_pred, squared = False)
print(rmse)

2700.316581643152

In [102]:
y_pred = model.predict(X_test_res)
pd.DataFrame({'index' : X_test.index, 'y_pred' : y_pred}).to_csv('00300.csv', index = False)