In [1]:
!git clone https://github.com/AnalyticsKnight/yemoonsaBigdata/

Cloning into 'yemoonsaBigdata'...
remote: Enumerating objects: 637, done.
remote: Counting objects: 100% (276/276), done.
remote: Compressing objects: 100% (167/167), done.
remote: Total 637 (delta 137), reused 184 (delta 109), pack-reused 361
Receiving objects: 100% (637/637), 10.76 MiB | 20.75 MiB/s, done.
Resolving deltas: 100% (321/321), done.

# 작업형 제 1유형

## 주어진 리스트에 대해 아래 과정을 차례로 수행한 최종 결괏값을 출력하시오.

lst = [2, 3, 3.2, 5, 7.5, 10, 11.8, 12, 23, 25, 31.5, 34]

- 제 1사분위수와 제 3사분위수를 구하시오.

- 제 1사분위수와 제 3사분위수 차이의 절댓값을 구하시오

- 그 값의 소수점을 버린 후 정수로 출력하시오

In [ ]:
lst = [2, 3, 3.2, 5, 7.5, 10, 11.8, 12, 23, 25, 31.5, 34]
import numpy as np
# 1번
Q1 = np.quantile(lst, 0.25)
Q3 = np.quantile(lst, 0.75)

# 2번
diff = np.abs(Q1 - Q3)

# 3번
res = int(diff)
print(res)

18
18.95

## 주어진 facebook 데이터 세트는 페이스북 라이브에 대한 사용자 반응을 집계한 것이다. 이 중 love반응(num_loves)와 wow반응(num_wow)을 매우 긍정적인 반응이라고 정의할 때, 전체 반응 변수(num_reaction) 중 매우 긍정적인 반응 수가 차지하는 비율을 계산하시오. 그리고 그 비율이 0.5보다 작고 0.4보다 크며 유형이 비디오에 해당하는 건수를 정수로 출력하싱ㅗ.

In [1]:
import pandas as pd
df = pd.read_csv('yemoonsaBigdata/datasets/Part3/402_facebook.csv')
df.head()

,status_id,status_type,num_reactions,num_comments,num_shares,num_likes,num_loves,num_wows,num_hahas,num_sads,num_angrys
0,246675545449582_1649696485147474,video,529,512,262,432,92,3,1,1,0
1,246675545449582_1649426988507757,photo,150,0,0,150,0,0,0,0,0
2,246675545449582_1648730588577397,video,227,236,57,204,21,1,1,0,0
3,246675545449582_1648576705259452,photo,111,0,0,111,0,0,0,0,0
4,246675545449582_1645700502213739,photo,213,0,0,204,9,0,0,0,0

In [ ]:
df['ratio'] = (df['num_loves'] + df['num_wows']) /df['num_reactions']
res_df = df[df['status_type'] == 'video']
res_df = res_df[(res_df['ratio'] < 0.5) & (res_df['ratio'] > 0.4)]
res = len(res_df)
print(res)

90

## 주어진 netflix 데이터 세트는 넷플릭스에 등록된 컨텐츠의 메타 데이터이다. 2018년 1월에 넷플릭스에 등록된 컨텐츠 중에서 'United Kingdom'이 단독 제작한 컨텐츠의 수를 정수로 출력하시오.

In [2]:
import pandas as pd
df = pd.read_csv('yemoonsaBigdata/datasets/Part3/403_netflix.csv')
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [ ]:
res_df = df[df['date_added'].str.contains('January') & df['date_added'].str.contains('2018')]
res_df = res_df[res_df['country'] == 'United Kingdom']
res = len(res_df)
print(res)

6

# 작업형 제 2유형
다음은 Customer Segmentation 데이터 세트이다. 주어진 훈련 데이터 세트를 활용하여 고객이 속한 세그먼크를 예측하고 해당 예측 결과를 csv 파일로 제출

macro_f1결과를 통해 점수 반영

In [3]:
import pandas as pd

x_test = pd.read_csv('yemoonsaBigdata/datasets/Part3/404_x_test.csv')
x_train = pd.read_csv('yemoonsaBigdata/datasets/Part3/404_x_train.csv')
y_train = pd.read_csv('yemoonsaBigdata/datasets/Part3/404_y_train.csv')

In [ ]:
x_train.head()

,ID,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size
0,462809,Male,No,22,No,Healthcare,1.0,Low,4.0
1,466315,Female,Yes,67,Yes,Engineer,1.0,Low,1.0
2,461735,Male,Yes,67,Yes,Lawyer,0.0,High,2.0
3,461319,Male,Yes,56,No,Artist,0.0,Average,2.0
4,460156,Male,No,32,Yes,Healthcare,1.0,Low,3.0

In [ ]:
x_train.isnull().sum()

ID                 0
Gender             0
Ever_Married       0
Age                0
Graduated          0
Profession         0
Work_Experience    0
Spending_Score     0
Family_Size        0
dtype: int64

In [3]:
col_cat = ['Gender', 'Ever_Married', 'Graduated', 'Profession', 'Spending_Score']

x_train[col_cat].nunique()

Gender            2
Ever_Married      2
Graduated         2
Profession        9
Spending_Score    3
dtype: int64

In [16]:
# col drop, null, outlier, 명목형

x_test_copy = x_test.copy()
col_drop = ['ID']
col_num = ['Age', 'Work_Experience', 'Family_Size']
col_cat = ['Gender', 'Ever_Married', 'Graduated', 'Profession', 'Spending_Score']
col_y = ['Segmentation']

x_train = x_train.drop(col_drop, axis = 1)
x_test = x_test.drop(col_drop, axis = 1)
y_train = y_train.drop(col_drop, axis = 1)


x = pd.concat([x_train, x_test])
from sklearn.preprocessing import OneHotEncoder

ohe = OneHotEncoder(handle_unknown = 'ignore')
ohe.fit(x[col_cat])

x_train_res = ohe.transform(x_train[col_cat])
x_test_res = ohe.transform(x_test[col_cat])

x_train_ohe = pd.DataFrame(x_train_res.todense(), columns = ohe.get_feature_names_out())
x_test_ohe = pd.DataFrame(x_test_res.todense(), columns = ohe.get_feature_names_out())

x_train_fin = pd.concat([x_train_ohe, x_train[col_num]], axis = 1)
x_test_fin = pd.concat([x_test_ohe, x_test[col_num]], axis = 1)

In [17]:
# split, scaler, model
from sklearn.model_selection import train_test_split

x_tr, x_val, y_tr, y_val = train_test_split(x_train_fin, y_train[col_y].values.ravel(),
                                            test_size = 0.3, stratify = y_train[col_y].values.ravel())

from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
scaler.fit(x_tr[col_num])

x_tr[col_num] = scaler.transform(x_tr[col_num])
x_val[col_num] = scaler.transform(x_val[col_num])
x_test_fin[col_num] = scaler.transform(x_test_fin[col_num])



from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier()
model.fit(x_tr, y_tr)

from sklearn.metrics import accuracy_score
y_val_pred = model.predict(x_val)
print(accuracy_score(y_val_pred, y_val))

0.470734126984127

In [18]:
# 평가
from sklearn.metrics import f1_score
y_val_pred = model.predict(x_val)
print(f1_score(y_val, y_val_pred, average = 'macro'))

0.46538626752540146

In [19]:
# 제출
pred = model.predict(x_test_fin)
result = pd.DataFrame({'ID' : x_test_copy.ID, 'Segmentation' : pred})
print(result['Segmentation'].value_counts())
result.to_csv('00300.csv', index = False)

D    618
C    546
B    522
A    492
Name: Segmentation, dtype: int64